<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/layouts/master-page-layout}">
<head>
    <title>  please add the title of the page</title>

</head>



<body id="page1">
<div class="main">

<th:block layout:fragment="content">

    <div class="container">
        <h3>List of  active airports </h3>
        <hr/>
        <a  href="/newairport"><h5> Add  new Airport </h5></a>
        <div style="font-size: 1em">

            <form action="/airport/list" th:object="${airports}" method="GET">

                <table id="t01" border="1" width="70%" cellpadding="2">
                    <tr><th> Id</th><th>Code</th><th>Name </th>
                        <th>Country</th><th>City </th>
                        <th>Edit</th><th>Delete</th></tr>

                    <tr th:each="airport:${airports}">
                        <td th:text="${airport.getId()}"></td>
                        <td th:text="${airport.getAirportCode()}"></td>
                        <td th:text="${airport.getAirportName()}"></td>
                        <td th:text="${airport.getCountry()}"></td>
                        <td th:text="${airport.getCity()}"></td>

                        <td><a th:href="@{'/editairport/' + ${airport.getId()}}">Edit</a></td>

                        <td><a th:href="@{'/deleteairport/' + ${airport.getId()}}">Delete</a></td>
                    </tr>
                </table>
                <br/>
            </form>

        </div>
    </div>

</th:block>

<br/>


<th:block layout:fragment="footer"/>

</div>

</body>
</html>
