<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/layouts/master-page-layout}">
<head>
    <title>  please add the title of the page</title>

</head>



<body id="page1">
<div class="main">


<!--onload="document.querySelector('#productNumber').focus();"-->
<th:block layout:fragment="content">
    <!--        <form id="productForm" method="post" action="/srm/secured/product/new" th:object="${product}">-->

    <!--        </form>-->
    This part will be filled by Haftu

</th:block>

<br/>


<th:block layout:fragment="footer"/>

</div>

</body>
</html>
