<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title> XYZ AirLines</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="../css/layout.css" type="text/css" media="all">
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="../js/jquery-1.5.2.js" ></script>
  <script type="text/javascript" src="../js/cufon-yui.js"></script>
  <script type="text/javascript" src="../js/cufon-replace.js"></script>
  <script type="text/javascript" src="../js/Cabin_400.font.js"></script>
  <script type="text/javascript" src="../js/tabs.js"></script>
  <script type="text/javascript" src="../js/jquery.jqtransform.js" ></script>
  <script type="text/javascript" src="../js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript" src="../js/atooltip.jquery.js"></script>
  <script type="text/javascript" src="../js/script.js"></script>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="book.html.js/html5.js"></script>
  <style type="text/css">.main, .tabs ul.nav a, .content, .button1, .box1, .top { behavior:url("../js/PIE.htc")}</style>
  <![endif]-->
</head>

<body id="page1">
<div class="main">
  <!--header -->
  <header>
    <div class="wrapper">
      <h1><a href="/" id="logo"> XYZ AirLines</a></h1>
      <span id="slogan">Fast, Frequent &amp; Safe Flights</span>
      <nav id="top_nav">
        <ul>
          <li><a href="/" class="nav1">Home</a></li>
          <li><a href="#" class="nav2">Sitemap</a></li>
          <li><a href="/contact" class="nav3">Contact</a></li>
        </ul>
      </nav>
    </div>
    <nav>
      <ul id="menu">
        <li><a href="/admin/listSchuedule" ><span><span>Offers</span></span></a></li>
        <li ><a href="/airport/list"><span><span>Airport</span></span></a></li>
        <li id="menu_active"><a href="/admin/schueduleList"  th:href="@{/admin/schueduleList}"><span><span>Schuedule</span></span></a></li>
        <li class="end"><a href="/chart"><span><span>Report</span></span></a></li>
      </ul>
    </nav>
  </header>
  <!-- / header -->
  <!--content -->
  <section id="content">
<!--    <div class="for_banners">-->
    <div>
      <br>
      <img src="../images/ethopian_new_map.jpg" height="400" width="400">
      <img src="../images/Ethiopian787.jpg" height="400" width="400">
    </div>
    <div class="wrapper pad1">
      <article class="col2">
                <h3>About Our Airlines</h3>
        <div class="wrapper">
          <article class="cols">
            <figure><img src="images/page1_img1.jpg" alt="" class="pad_bot2"></figure>
            <p class="pad_bot1"><strong>Airlines is one of free website templates created by TemplateMonster.com team.</strong></p>
            <p>This website template is optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid.

          </article>
          <article class="cols pad_left1">
            <figure><img src="images/page1_img2.jpg" alt="" class="pad_bot2"></figure>
            <p class="pad_bot1"><strong>This Airlines Template goes with two packages.</strong></p>
            <p>With  source files and without them. The source files are available for free for the registered members of Templates
              The basic package  is available for anyone without registration).</p>
          </article>
        </div>
      </article>
    </div>
  </section>
  <!--content end-->
  <!--footer -->
  <footer>
    <div class="links">
      Design by <a target="_blank" href="http://www.mum.edu/"> Student from  CS425 course project </a>
    </div>
  </footer>
  <!--footer end-->
</div>
<!--<script type="text/javascript">Cufon.now();</script>-->
<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
<!--&lt;!&ndash;  $(document).ready(function () {&ndash;&gt;-->
<!--&lt;!&ndash;    tabs.init();&ndash;&gt;-->
<!--&lt;!&ndash;  });&ndash;&gt;-->
<!--&lt;!&ndash;  jQuery(document).ready(function ($) {&ndash;&gt;-->
<!--&lt;!&ndash;    $('#form_1, #form_2, #form_3').jqTransform({&ndash;&gt;-->
<!--&lt;!&ndash;      imgPath: 'jqtransformplugin/img/'&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--&lt;!&ndash;  });&ndash;&gt;-->
<!--&lt;!&ndash;  $(window).load(function () {&ndash;&gt;-->
<!--&lt;!&ndash;    $('#slider').nivoSlider({&ndash;&gt;-->
<!--&lt;!&ndash;      effect: 'fade', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'&ndash;&gt;-->
<!--&lt;!&ndash;      slices: 15,&ndash;&gt;-->
<!--&lt;!&ndash;      animSpeed: 500,&ndash;&gt;-->
<!--&lt;!&ndash;      pauseTime: 6000,&ndash;&gt;-->
<!--&lt;!&ndash;      startSlide: 0, //Set starting Slide (0 index)&ndash;&gt;-->
<!--&lt;!&ndash;      directionNav: false, //Next & Prev&ndash;&gt;-->
<!--&lt;!&ndash;      directionNavHide: false, //Only show on hover&ndash;&gt;-->
<!--&lt;!&ndash;      controlNav: false, //1,2,3...&ndash;&gt;-->
<!--&lt;!&ndash;      controlNavThumbs: false, //Use thumbnails for Control Nav&ndash;&gt;-->
<!--&lt;!&ndash;      controlNavThumbsFromRel: false, //Use image rel for thumbs&ndash;&gt;-->
<!--&lt;!&ndash;      controlNavThumbsSearch: '.jpg', //Replace this with...&ndash;&gt;-->
<!--&lt;!&ndash;      controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src&ndash;&gt;-->
<!--&lt;!&ndash;      keyboardNav: true, //Use left & right arrows&ndash;&gt;-->
<!--&lt;!&ndash;      pauseOnHover: true, //Stop animation while hovering&ndash;&gt;-->
<!--&lt;!&ndash;      manualAdvance: false, //Force manual transitions&ndash;&gt;-->
<!--&lt;!&ndash;      captionOpacity: 1, //Universal caption opacity&ndash;&gt;-->
<!--&lt;!&ndash;      beforeChange: function () {},&ndash;&gt;-->
<!--&lt;!&ndash;      afterChange: function () {},&ndash;&gt;-->
<!--&lt;!&ndash;      slideshowEnd: function () {} //Triggers after all slides have been shown&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--&lt;!&ndash;  });&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
</body>
</html>