<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{public/layouts/master-page-layout}">
<head>
  <title>  please add the title of the page</title>

</head>



<body id="page1">
<div class="main">
  <th:block layout:fragment="content">

  <section id="content">
<!--    <div class="for_banners">-->
    <div>
      <br>
      <img src="../images/ethopian_new_map.jpg" height="400" width="400">
      <img src="../images/Ethiopian787.jpg" height="400" width="400">
    </div>
    <div class="wrapper pad1">
      <article class="col2">
                <h3>About Our Airlines</h3>
        <div class="wrapper">
          <article class="cols">
            <figure><img src="images/page1_img1.jpg" alt="" class="pad_bot2"></figure>
            <p class="pad_bot1"><strong>Airlines is one of free website templates created by TemplateMonster.com team.</strong></p>
            <p>This website template is optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid.

          </article>
          <article class="cols pad_left1">
            <figure><img src="images/page1_img2.jpg" alt="" class="pad_bot2"></figure>
            <p class="pad_bot1"><strong>This Airlines Template goes with two packages.</strong></p>
            <p>With  source files and without them. The source files are available for free for the registered members of Templates
              The basic package  is available for anyone without registration).</p>
          </article>
        </div>
      </article>
    </div>
  </section>

  </th:block>

  <br/>


  <th:block layout:fragment="footer"/>

</div>

</body>
</html>
