<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Search Flight</title>
</head>
<body>

	<div class = "container"> 
	
		<h3>Form For Searching Flight</h3>

		
		<form action ="#" th:action ="@{/search}"
						  th:object  ="${flights}" method = "POST">
			
		<!-- add a hidden form field to handle the update. this is only for update or edit -->
		
			<input type="hidden" th:field= "*{id}">
			 <!-- <input type ="text" th:field ="*{planeId}" 
				   class = "form-control mb-4 col-4"  placeholder =" Plane Id">  -->
				   
			<input type ="text" th:field ="*{planeNumber}" 
				   class = "form-control mb-4 col-4"  placeholder =" Plane Number">
				   			   
			<input type ="text" th:field ="*{model}" 
				   class = "form-control mb-4 col-4"  placeholder =" Model">
				   
			<input type ="text" th:field ="*{make}" 
				   class = "form-control mb-4 col-4"  placeholder =" Make">
				   
			<input type ="text" th:field ="*{capacity}" 
				   class = "form-control mb-4 col-4"  placeholder =" Capacity">
				   
			<button type = "submit" class ="btn btn-info col-2"> Search</button>
		
		</form>
		
		<hr> 
		<!-- a link to the list of airplanes -->
		<a th:href ="@{/airplanes/list}"> Back to list of airplanes</a>
	
	</div>
	
</body>
</html>